*{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

#whole{
    width: 100%;
    height: 100%;
}

#heading{
    padding: 1%;
    color: aliceblue;
    background-color: rgb(4, 48, 75);
}

#heading h2{
    height: 50%;
    font-size: 2rem;
    font-weight: 400;
}

#users{
    padding-top: 10px;
    width: 85%;
    margin: auto;
}

#user_top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

#user_top h2{
    font-size: 2.5rem;
}

#create_button{
    border: none;
    color: white;
    background-color: rgb(100, 100, 100);
    height: 30px;
    width: 53px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#table_content{
    width: 100%;
    border-collapse: collapse;
}


th{
    border-bottom: 2px solid;
}
th, td{
    font-size:1.5rem;
    text-align: left;
}
td{
    border-bottom:1px solid rgb(148, 148, 148) ;
}

/* FORM TAG'S CSS*/
#form_user{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    background-color: rgb(0, 0, 0, 0.5);
}

#create_user{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 10px;
    margin: auto;
    border: 1px solid;
    gap: 20px;
}

#create_user h2{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
}

#ProfilePic{
    width: 157px;
    height: 157px;
    border: 1px solid;
    border-radius: 50%;
    margin: auto;
}

#create_user input{
    margin: auto;
    font-size: 1.5rem;
    width: 80%;
    border: 1px solid rgb(121, 121, 121);
    padding: 12px;
}

label{
    font-size: 1.6rem;
    margin: auto;
    font-weight: 600;
    transition: .2s;
}

label:hover{
    cursor: pointer;
}

#accept_image{
    display: none;
}

#form_user button{
    border: 0;
    margin: auto;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 10px;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
    transition: .2s;
}

#submit_btn{
    background-color: rgb(83, 176, 235);
}

#cancel{
    background-color: red;
}

#form_user button:hover{
    border-radius: 5px;
    transform: scale(1.1);
}

#enter_first_name{
    font-size: 1.3rem;
    font-weight: 600;
    color: red;
    margin: auto 37px;
    display: none;
}

#enter_last_name{
    font-size: 1.3rem;
    font-weight: 600;
    color: red;
    margin: auto 37px;
    display: none;
}
#enter_user_name{
    font-size: 1.3rem;
    font-weight: 600;
    color: red;
    margin: auto 37px;
    display: none;
}

#submitandcancel{
    display: flex;
}
form{
    position: relative;
}
#delete_bin{
    display: none;
    position: absolute;
    top: 230px;
    right: 5vmin;
    height: 24px;
    width: 24px;
    cursor: pointer;
}


/* CSS for img in table row*/
#zoro_image{
    height: 50px;
    width:50px;
    border-radius: 50% ;
}

/* CSS FOR EDIT AND DELETE BUTTON IN JS */
#edit_btn_css{
    width: fit-content;
    width: 56px;
    font-size: 1.5rem;
    color: #8A8A8A;
    background-color: white;
    border: 2px solid #8A8A8A;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

#delete_btn_css{
    cursor: pointer;
    width: 56px;
    font-size: 1.5rem;
    color: red;
    background-color: white;
    border: 2px solid red;
    border-radius: 5px;

}
/* IMAGE INPUT SIZE LIMITED */
#size_exceeded_popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#size_exceeded_content{
    position:relative;
    background-color: white;
    padding: 25px 25px;
    border-radius: 5px;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

#close_btn{
    padding: 10px 15px;
    font-size: 1.4rem;
    background-color: #3f51b5; /* Adjust color */
    color: white;
    display: block;
    margin: 10px auto auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*CSS FOR DELETE BUTTON*/
#confirmation-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#confirmation-content {
  position:relative;
  background-color: white;
  padding: 25px 25px;
  border-radius: 5px;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}

#confirm-btn{
  padding: 10px 15px;
  font-size: 1.4rem;
  background-color: #3f51b5; /* Adjust color */
  color: white;
  display: block;
  margin: 10px auto auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*CLOSE BUTTON IN DELETE*/

#X_button{
    position: absolute;
    top: 4px;
    right: 10px;
    border: 0;
    border-radius: 50%;
    font-size: 2.2rem;
    color: red;
}

#X_button:hover{
    cursor: pointer;
}
